[user]
	name = shinderuman
	email = shinderuman@gmail.com
[github]
	user = shinderuman
[pager]
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less
[diff]
	compactionHeuristic = true
